<form action="Test" method="post">
    <input id="playerid" name="playerid" value="">    <div>
        <label for="jersey">jersey</label>
        <input class="text-box single-line" id="jersey" name="jersey" type="text" value="">
    </div>
    <div>
        <label for="fname">fname</label>
        <input class="text-box single-line" id="fname" name="fname" type="text" value="">
    </div>
    <div>
        <label for="sname">sname</label>
        <input class="text-box single-line" id="sname" name="sname" type="text" value="">
    </div>
    <div>
        <label for="position">position</label>
        <input class="text-box single-line" id="position" name="position" type="text" value="">
    </div>
    <div>
        <label for="birthday">birthday</label>
        <input class="text-box single-line" data-val="true" data-val-required="The birthday field is required." id="birthday" name="birthday" type="datetime-local" value="">
    </div>
    <div>
        <label for="weight">weight</label>
        <input class="text-box single-line" id="weight" name="weight" type="text" value="">
    </div>
    <div>
        <label for="height">height</label>
        <input class="text-box single-line" id="height" name="height" type="text" value="">
    </div>
    <div>
        <label for="birthcity">birthcity</label>
        <input class="text-box single-line" id="birthcity" name="birthcity" type="text" value="">
    </div>
    <div>
        <label for="birthstate">birthstate</label>
        <input class="text-box single-line" id="birthstate" name="birthstate" type="text" value="">
    </div>
    <div>
        <label for="ClubId">ClubId</label>
        <input class="text-box single-line" data-val="true" data-val-required="The ClubId field is required." id="ClubId" name="ClubId" type="number" value="">
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>